<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Dashboard UAS</title>
    <link href="css/styles.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>
</head>

<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <a class="nav-link" href="/">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Dashboard
                        </a>
                        
                    </div>
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    <h1 class="mt-4">Daftar Perlengkapan Barang</h1>
                    <div class="card-header">
                        <button
                          type="button"
                          class="btn btn-primary"
                          data-toggle="modal"
                          data-target="#myModal"
                        >
                          Masukan Alat
                        </button>
                      </div>
                    <!-- dashboard.ejs -->
<div class="card mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Nama Alat</th>
                        <th>Deskripsi</th>
                        <th>Stok</th>
                        <th>Aksi</th>
                    </tr>
                </thead>

                <tbody>
                    <% for (let i = 0; i < dataBarang.length; i++) { %>
                        <tr>
                            <td><%= i + 1 %></td>
                            <td><%= dataBarang[i].nama %></td>
                            <td><%= dataBarang[i].keterangan %></td>
                            <td><%= dataBarang[i].jumlah %></td>
                            <td>
                                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#edit<%= dataBarang[i]._id %>">
                                    Ubah
                                </button>
                                <a href="/delete-barang?barangId=<%= dataBarang[i]._id %>">
                                    <button type="button" class="btn btn-danger">
                                        Hapus
                                    </button>
                                </a>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>

                </div>
            </main>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="assets/demo/chart-area-demo.js"></script>
    <script src="assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
    <script src="assets/demo/datatables-demo.js"></script>


    <!-- The Modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Tambah Barang Masuk</h4>
              <button type="button" class="close" data-dismiss="modal">
                &times;
              </button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
              <form method="post" action="/addbarang">
                <br />
                <input
                  type="text"
                  name="nama"
                  placeholder="Nama"
                  class="form-control"
                  required
                />
                <br />
                <input
                  type="text"
                  name="keterangan"
                  placeholder="Keterangan"
                  class="form-control"
                  required
                />
                <br />
                <input
                  type="number"
                  name="jumlah"
                  placeholder="Jumlah"
                  class="form-control"
                  required
                />
                <br />
                <button type="submit" class="btn btn-primary">Tambah</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- modal end -->
</body>

<!-- Modal Edit -->
<% for (let i = 0; i < dataBarang.length; i++) { %>
    <div class="modal fade" id="edit<%= dataBarang[i]._id %>">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Ubah Data</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <form method="post" action="/update-barang/<%= dataBarang[i]._id %>">
                    <div class="modal-body">
                        <!-- Display the previous values in the input fields -->
                        <input type="text" name="nama" class="form-control" value="<%= dataBarang[i].nama %>" required>
                        <br>
                        <input type="hidden" name="id" value="<%= dataBarang[i]._id %>">
                        <input type="text" name="keterangan" class="form-control" value="<%= dataBarang[i].keterangan %>" required>
                        <br>
                        <input type="number" name="jumlah" class="form-control" value="<%= dataBarang[i].jumlah %>" required>
                        <br>
                        <button type="submit" class="btn btn-primary" name="update">Ubah</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
<% } %>


</html>
